<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <application
        android:allowBackup="true">
        <activity
            android:name=".activity.SettingActivity"
            android:exported="true"
            android:theme="@style/ActivityTheme"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.ResetPwActivity"
            android:exported="true"
            android:theme="@style/ActivityTheme"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.DeviceListActivity"
            android:exported="true"
            android:theme="@style/ActivityTheme"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            android:launchMode="singleTop" />
    </application>
</manifest>